<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>鹿晗个人第二轮巡回演唱会RE：X刚刚在深圳顺利结束。这次RE：X的主题扣很紧，舞台rebuild，编曲remix，歌曲replay。</p>
<img src='http://mmbiz.qpic.cn/mmbiz_jpg/wXXsibtb5or6GDBShl56Qh1FziaySEuIQ9e88iaPlFecTWUA24SMDupQ1geuQXV1TZf0RFCNCw3O6LDHNoU0dSiadA/0'></img>
<p>1、rebuild。相比于一巡，二巡的舞台简化，却是科技感十足。服装和妆容也没有一巡那么浮夸。</p>
<img src='http://mmbiz.qpic.cn/mmbiz_jpg/wXXsibtb5or6GDBShl56Qh1FziaySEuIQ9mfNqm73eqFOg53tOqcqUxL2ib2YX7vsXJOskyicQ8oS3xmMwppf86bKA/0'></img>
<p>2、remix。所有的歌曲都重新编曲，形成独特的演唱会版本。所有歌里我有两个记忆点，第一首《心率》采用阿卡贝拉和乐队重新呈现，第二首《肌肤之亲》采用CG技术呈现舞美。</p>
<img src='http://mmbiz.qpic.cn/mmbiz_jpg/wXXsibtb5or6GDBShl56Qh1FziaySEuIQ9FUqHOY8icWSAonlxuPCeoIYsicFUfqTm13LA7OWjMSFtxyxl107akkhA/0'></img>
<p>3、replay。返场演唱《某时某刻》和《我们的明天》，都属于那种惹人哭的煽情歌曲。</p>
<img src='http://mmbiz.qpic.cn/mmbiz_jpg/wXXsibtb5or6GDBShl56Qh1FziaySEuIQ98b5EpHvwkCvh6tnGupA7pv0x0K8FMR3A4NzdzpGGxQ2VQiauib3PhAaA/0'></img>
<p>老实来讲，鹿晗在这两年里有了长足的进步，但是唱功还是有待提高。希望三巡的时候，鹿晗可以从Artist（艺人）变成Singer（歌手）。</p>

</body>
</html>