{% extends 'base_user.html' %}
{% block meta %}
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock meta %}
{% block base_script %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

<script src="/static/js/jquery-1.11.0.min.js"></script>

<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
<script type="text/javascript" src="/static/js/place_order.js"></script>

{% endblock base_script %}

{% block user_body %}

<h3 class="common_title">确认收货地址</h3>
<a class="alter_site" data-toggle="modal" data-target="#altersite" onclick="">
    <span style="font-size:15px">更改收货地址</span></a>

<div class="common_list_con clearfix">
    <dl>
        <dt>寄送到：</dt>
        <dd><input type="radio" name="" checked="">{{ address }}
            （{{ address_info.urecipients }} 收） <span>{{ address_info.uaddphone }}</span>
        </dd>
    </dl>
    <a class="edit_site" data-toggle="modal" data-target="#modifysite" onclick="modefysite({{ address_info.pk }})">
        编辑收货地址</a>


</div>

<h3 class="common_title">支付方式</h3>
<div class="common_list_con clearfix">
    <div class="pay_style_con clearfix">
        <input type="radio" name="pay_style" checked>
        <label class="cash">货到付款</label>
        <input type="radio" name="pay_style">
        <label class="weixin">微信支付</label>
        <input type="radio" name="pay_style">
        <label class="zhifubao"></label>
        <input type="radio" name="pay_style">
        <label class="bank">银行卡支付</label>
    </div>
</div>

<h3 class="common_title">商品列表</h3>

<div class="common_list_con clearfix">
    <ul class="goods_list_th clearfix">
        <li class="col01">商品名称</li>
        <li class="col02">商品单位</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
    </ul>
    {% if flag %}
     <ul class="goods_list_td clearfix">
        <li class="col01">{{ count }}</li>
        <li class="col02"><img src="/static/media/{{ goods.gimage }}"></li>
        <li class="col03">{{ goods.gtitle }}</li>
        <li class="col04">{{ goods.gweight }}</li>
        <li class="col05">{{ goods.gprice }}元</li>
        <li class="col06">{{ num }}</li>
        <li class="col07">{{ totalmoney }}元</li>
    </ul>

    {% else %}
    {% for cart in carts %}

    <ul class="goods_list_td clearfix">
        <li class="col01">{{ forloop.counter }}</li>
        <li class="col02"><img src="/static/media/{{ cart.cgoods.gimage }}"></li>
        <li class="col03">{{ cart.cgoods.gtitle }}</li>
        <li class="col04">{{ cart.cgoods.gweight }}</li>
        <li class="col05">{{ cart.cgoods.gprice }}元</li>
        <li class="col06">{{ cart.count }}</li>
        <li class="col07">{{ total_list.pop }}元</li>
    </ul>
    {% endfor %}
    {% endif %}

</div>

<h3 class="common_title">总金额结算</h3>

<div class="common_list_con clearfix">
    <div class="settle_con">
        <div class="total_goods_count">共<em>{{ count }}</em>件商品，总金额<b>{{ totalmoney }}元</b></div>
        <div class="transit">运费：<b>0元</b></div>
        <div class="total_pay">实付款：<b>{{ totalmoney }}元</b></div>
    </div>
</div>

<div class="order_submit clearfix">
    <a href="/order/order_hander/?flag={{ flag }}&gid={{ goods.pk }}&num={{ num }}" onclick="submit_order()" id="order_btn">提交订单</a>
</div>


<div class="modal fade" id="modifysite">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-title">
                <h1 class="text-center">修改地址</h1>

            </div>
            <div class="modal-body">
                <form class="form-group" method="post" action="/user/site_modify/?order=1&gid={{ goods.pk }}&num={{ num }}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>地址别名</label>
                        <input class="form-control" type="text" id="another_name" name="another_name"
                               placeholder="请输入地址别名"/>
                    </div>
                    <div class="form-group">
                        <label>收件人</label>
                        <input class="form-control" type="text" id="urecipients" name="urecipients"
                               placeholder="请输入收件人姓名"/>
                    </div>
                    <div class="form-group">

                        <div class="address">
                            <label>地址 &nbsp; &nbsp; &nbsp; &nbsp;</label>
                            <select class="pro" id="pro" name="pro_id">
                                <option value="-1">请选择省份</option>
                            </select><select class="city" id="city" name="city_id">
                            <option value="-1">请选择市</option>
                        </select>
                            <select class="disc" id="disc" name="disc_id">
                                <option value="-1">请选择区、县</option>
                            </select>


                        </div>

                    </div>

                    <div class="form-group">
                        <label>详细地址</label>
                        <input class="form-control" type="text" id="uaddress" name="uaddress"
                               placeholder="请输入收货地址"/>
                    </div>
                    <div class="form-group">
                        <label>邮编</label>
                        <input class="form-control" type="text" id="upostcode" name="upostcode"
                               placeholder="请输入邮政编码"/>
                    </div>
                    <div class="form-group">
                        <label>联系方式</label>
                        <input class="form-control" type="text" id="uaddphone" name="uaddphone"
                               placeholder="请输入手机号"/>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="altersite">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-title">
                <h2 class="text-center">更改地址</h2>

            </div>
            <div class="modal-body">
                <form class="form-group" method="post" action="/order/alter_site/?gid={{ goods.pk }}&num={{ num }}">
                    {% csrf_token %}
                    <table align="center">
                        {% for each in address_list %}
                        <tr>
                            <td>
                                <div class="site_con">
                                    <input type="radio" value="{{ each.pk }}" name="site">&nbsp;&nbsp;
                                    <em>{{ each.another_name }}: </em>
                                    {{each.uaddress}} （<em>{{each.urecipients}}</em> 收）

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
{% endblock user_body %}


